version: '3'
services:
  mysql:
    image: mariadb
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: books
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
    volumes:
      - ./mysql:/var/lib/mysql
    ports:
      - 3306
    networks:
      - books-mysql-net
    healthcheck:
      test: --health-cmd "mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 10

  books-api:
    build: backend
    restart: always
    environment:
      TZ: Europe/UTC
    ports:
      - 8080
    depends_on:
      - mysql
    networks:
      - books-mysql-net
    image: books-api
    container_name: books-api
    #command: bash -c "while true; do echo $DATABASE_URL; echo quit | telnet postgres 5432; sleep 10; done"
    #command: bash -c "while true; do echo quit | telnet mysql 3306; sleep 10; done"

  books-frontend:
    build: frontend
    restart: always
    working_dir: /app
    environment:
      - TZ="Europe/UTC"
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "8090:8080"
    depends_on:
      - mysql
      - books-api
    networks:
      - books-mysql-net
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/usr/src/app
    stdin_open: true
    tty: true
    image: books-frontend
    container_name: books-frontend
    #command: bash -c "while true; do echo $DATABASE_URL; echo quit | telnet postgres 5432; sleep 10; done"

volumes:
   mysql:
#  postgres:
#  frontend:
#  node_modules:

networks:
  books-mysql-net:
